In [28]:
from google.colab import drive
drive.mount("/content/drive")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [29]:
%cd /content/drive/MyDrive/Pandas_practice

/content/drive/MyDrive/Pandas_practice

In [30]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [31]:
data = pd.read_csv("movies.csv")
data.head()

,MOVIES,YEAR,GENRE,RATING,ONE-LINE,STARS,VOTES,RunTime,Gross
0,Blood Red Sky,(2021),"\nAction, Horror, Thriller",6.1,\nA woman with a mysterious illness is forced ...,\n Director:\nPeter Thorwarth\n| \n Star...,"21,062",121.0,NaN
1,Masters of the Universe: Revelation,(2021– ),"\nAnimation, Action, Adventure",5.0,\nThe war for Eternia begins again in what may...,"\n \n Stars:\nChris Wood, \nSara...","17,870",25.0,NaN
2,The Walking Dead,(2010–2022),"\nDrama, Horror, Thriller",8.2,\nSheriff Deputy Rick Grimes wakes up from a c...,"\n \n Stars:\nAndrew Lincoln, \n...","885,805",44.0,NaN
3,Rick and Morty,(2013– ),"\nAnimation, Adventure, Comedy",9.2,\nAn animated series that follows the exploits...,"\n \n Stars:\nJustin Roiland, \n...","414,849",23.0,NaN
4,Army of Thieves,(2021),"\nAction, Crime, Horror",NaN,"\nA prequel, set before the events of Army of ...",\n Director:\nMatthias Schweighöfer\n| \n ...,NaN,NaN,NaN

In [5]:
data = pd.read_csv("movies.csv")
data.head()

,MOVIES,YEAR,GENRE,RATING,ONE-LINE,STARS,VOTES,RunTime,Gross
0,Blood Red Sky,(2021),"\nAction, Horror, Thriller",6.1,\nA woman with a mysterious illness is forced ...,\n Director:\nPeter Thorwarth\n| \n Star...,"21,062",121.0,NaN
1,Masters of the Universe: Revelation,(2021– ),"\nAnimation, Action, Adventure",5.0,\nThe war for Eternia begins again in what may...,"\n \n Stars:\nChris Wood, \nSara...","17,870",25.0,NaN
2,The Walking Dead,(2010–2022),"\nDrama, Horror, Thriller",8.2,\nSheriff Deputy Rick Grimes wakes up from a c...,"\n \n Stars:\nAndrew Lincoln, \n...","885,805",44.0,NaN
3,Rick and Morty,(2013– ),"\nAnimation, Adventure, Comedy",9.2,\nAn animated series that follows the exploits...,"\n \n Stars:\nJustin Roiland, \n...","414,849",23.0,NaN
4,Army of Thieves,(2021),"\nAction, Crime, Horror",NaN,"\nA prequel, set before the events of Army of ...",\n Director:\nMatthias Schweighöfer\n| \n ...,NaN,NaN,NaN

The missing values in the "RATING" column was filled with avarage of all the values in the column

In [32]:
data["RATING"].fillna(data["RATING"].mean(), inplace = True)
data.head()

,MOVIES,YEAR,GENRE,RATING,ONE-LINE,STARS,VOTES,RunTime,Gross
0,Blood Red Sky,(2021),"\nAction, Horror, Thriller",6.100000,\nA woman with a mysterious illness is forced ...,\n Director:\nPeter Thorwarth\n| \n Star...,"21,062",121.0,NaN
1,Masters of the Universe: Revelation,(2021– ),"\nAnimation, Action, Adventure",5.000000,\nThe war for Eternia begins again in what may...,"\n \n Stars:\nChris Wood, \nSara...","17,870",25.0,NaN
2,The Walking Dead,(2010–2022),"\nDrama, Horror, Thriller",8.200000,\nSheriff Deputy Rick Grimes wakes up from a c...,"\n \n Stars:\nAndrew Lincoln, \n...","885,805",44.0,NaN
3,Rick and Morty,(2013– ),"\nAnimation, Adventure, Comedy",9.200000,\nAn animated series that follows the exploits...,"\n \n Stars:\nJustin Roiland, \n...","414,849",23.0,NaN
4,Army of Thieves,(2021),"\nAction, Crime, Horror",6.921176,"\nA prequel, set before the events of Army of ...",\n Director:\nMatthias Schweighöfer\n| \n ...,NaN,NaN,NaN

The missing values in the "RunTime" column was filled with average of all the values in the column, and the values were replaced permanently in original dataset using the inplace=True argument.

In [13]:
data["RunTime"].fillna(data["RunTime"].mean(), inplace = True)
data.tail(20)

,MOVIES,YEAR,GENRE,RATING,ONE-LINE,STARS,VOTES,RunTime,Gross
9979,Never Have I Ever,(2020– ),\nComedy,8.800000,\nAs Paxton's mixed messages have Devi questio...,\n Director:\nLang Fisher\n| \n Stars:\n...,433,68.688539,NaN
9980,1899,(2022– ),"\nDrama, History, Horror",6.921176,\nAdd a Plot\n,\n Director:\nBaran bo Odar\n,NaN,68.688539,NaN
9981,1899,(2022– ),"\nDrama, History, Horror",6.921176,\nAdd a Plot\n,\n Director:\nBaran bo Odar\n,NaN,68.688539,NaN
9982,1899,(2022– ),"\nDrama, History, Horror",6.921176,\nAdd a Plot\n,\n Director:\nBaran bo Odar\n,NaN,68.688539,NaN
9983,The Last Kingdom,(2015– ),"\nAction, Drama, History",6.921176,\nAdd a Plot\n,\n Director:\nPaul Wilmshurst\n| \n Star...,NaN,68.688539,NaN
9984,The Last Kingdom,(2015– ),"\nAction, Drama, History",6.921176,\nAdd a Plot\n,\n Director:\nPaul Wilmshurst\n| \n Star...,NaN,68.688539,NaN
9985,The Last Kingdom,(2015– ),"\nAction, Drama, History",6.921176,\nAdd a Plot\n,\n Director:\nPaul Wilmshurst\n| \n Star...,NaN,68.688539,NaN
9986,The Last Kingdom,(2015– ),"\nAction, Drama, History",6.921176,\nAdd a Plot\n,\n,NaN,68.688539,NaN
9987,The Last Kingdom,(2015– ),"\nAction, Drama, History",6.921176,\nAdd a Plot\n,\n Director:\nAnthony Philipson\n,NaN,68.688539,NaN
9988,The Last Kingdom,(2015– ),"\nAction, Drama, History",6.921176,\nAdd a Plot\n,\n Director:\nAnthony Philipson\n,NaN,68.688539,NaN
9989,1899,(2022– ),"\nDrama, History, Horror",6.921176,\nAdd a Plot\n,\n Director:\nBaran bo Odar\n,NaN,68.688539,NaN
9990,1899,(2022– ),"\nDrama, History, Horror",6.921176,\nAdd a Plot\n,\n Director:\nBaran bo Odar\n,NaN,68.688539,NaN
9991,1899,(2022– ),"\nDrama, History, Horror",6.921176,\nAdd a Plot\n,\n Director:\nBaran bo Odar\n,NaN,68.688539,NaN
9992,1899,(2022– ),"\nDrama, History, Horror",6.921176,\nAdd a Plot\n,\n Director:\nBaran bo Odar\n,NaN,68.688539,NaN
9993,Totenfrau,(2022– ),"\nDrama, Thriller",6.921176,\nAdd a Plot\n,\n Director:\nNicolai Rohde\n| \n Stars:...,NaN,68.688539,NaN
9994,The Imperfects,(2021– ),"\nAdventure, Drama, Fantasy",6.921176,\nAdd a Plot\n,\n \n Stars:\nMorgan Taylor Camp...,NaN,68.688539,NaN
9995,Arcane,(2021– ),"\nAnimation, Action, Adventure",6.921176,\nAdd a Plot\n,\n,NaN,68.688539,NaN
9996,Heart of Invictus,(2022– ),"\nDocumentary, Sport",6.921176,\nAdd a Plot\n,\n Director:\nOrlando von Einsiedel\n| \n ...,NaN,68.688539,NaN
9997,The Imperfects,(2021– ),"\nAdventure, Drama, Fantasy",6.921176,\nAdd a Plot\n,\n Director:\nJovanka Vuckovic\n| \n Sta...,NaN,68.688539,NaN
9998,The Imperfects,(2021– ),"\nAdventure, Drama, Fantasy",6.921176,\nAdd a Plot\n,\n Director:\nJovanka Vuckovic\n| \n Sta...,NaN,68.688539,NaN

The Gross missing values in the groos column were replaced with Zeros, notice that the 0 is in string format, this to align with the object data type of the Gross column

In [26]:
data["Gross"].fillna("0", inplace=True)
data.reset_index()
data.head(20)

,MOVIES,YEAR,GENRE,RATING,ONE-LINE,STARS,VOTES,RunTime,Gross
0,Blood Red Sky,(2021),"\nAction, Horror, Thriller",6.100000,\nA woman with a mysterious illness is forced ...,\n Director:\nPeter Thorwarth\n| \n Star...,"21,062",121.000000,0
1,Masters of the Universe: Revelation,(2021– ),"\nAnimation, Action, Adventure",5.000000,\nThe war for Eternia begins again in what may...,"\n \n Stars:\nChris Wood, \nSara...","17,870",25.000000,0
2,The Walking Dead,(2010–2022),"\nDrama, Horror, Thriller",8.200000,\nSheriff Deputy Rick Grimes wakes up from a c...,"\n \n Stars:\nAndrew Lincoln, \n...","885,805",44.000000,0
3,Rick and Morty,(2013– ),"\nAnimation, Adventure, Comedy",9.200000,\nAn animated series that follows the exploits...,"\n \n Stars:\nJustin Roiland, \n...","414,849",23.000000,0
4,Army of Thieves,(2021),"\nAction, Crime, Horror",6.921176,"\nA prequel, set before the events of Army of ...",\n Director:\nMatthias Schweighöfer\n| \n ...,NaN,68.688539,0
5,Outer Banks,(2020– ),"\nAction, Crime, Drama",7.600000,\nA group of teenagers from the wrong side of ...,"\n \n Stars:\nChase Stokes, \nMa...","25,858",50.000000,0
6,The Last Letter from Your Lover,(2021),"\nDrama, Romance",6.800000,\nA pair of interwoven stories set in the past...,\n Director:\nAugustine Frizzell\n| \n S...,"5,283",110.000000,0
7,Dexter,(2006–2013),"\nCrime, Drama, Mystery",8.600000,"\nBy day, mild-mannered Dexter is a blood-spat...","\n \n Stars:\nMichael C. Hall, \...","665,387",53.000000,0
8,Never Have I Ever,(2020– ),\nComedy,7.900000,\nThe complicated life of a modern-day first g...,\n \n Stars:\nMaitreyi Ramakrish...,"34,530",30.000000,0
9,Virgin River,(2019– ),"\nDrama, Romance",7.400000,"\nSeeking a fresh start, nurse practitioner Me...",\n \n Stars:\nAlexandra Breckenr...,"27,279",44.000000,0
10,Gunpowder Milkshake,(2021),"\nAction, Adventure, Thriller",6.000000,\nThree generations of women fight back agains...,\n Director:\nNavot Papushado\n| \n Star...,"17,989",114.000000,0
11,Lucifer,(2016–2021),"\nCrime, Drama, Fantasy",8.100000,\nLucifer Morningstar has decided he's had eno...,"\n \n Stars:\nTom Ellis, \nLesle...","264,222",42.000000,0
12,Fear Street: 1994,(2021),"\nDrama, Horror, Mystery",6.200000,\nA circle of teenage friends accidentally enc...,\n Director:\nLeigh Janiak\n| \n Stars:\...,"50,148",107.000000,0
13,Sex/Life,(2021– ),"\nComedy, Drama, Romance",5.400000,\nA suburban mother of two takes a fantasy-cha...,"\n \n Stars:\nSarah Shahi, \nMik...","12,172",68.688539,0
14,American Horror Story,(2011– ),"\nDrama, Horror, Thriller",8.000000,\nAn anthology series centering on different c...,"\n \n Stars:\nLady Gaga, \nKathy...","286,488",60.000000,0
15,Grey's Anatomy,(2005– ),"\nDrama, Romance",7.500000,\nA drama centered on the personal and profess...,"\n \n Stars:\nEllen Pompeo, \nCh...","266,258",41.000000,0
16,Breaking Bad,(2008–2013),"\nCrime, Drama, Thriller",9.400000,\nA high school chemistry teacher diagnosed wi...,"\n \n Stars:\nBryan Cranston, \n...","1,552,311",49.000000,0
17,The Good Doctor,(2017– ),\nDrama,8.100000,"\nShaun Murphy, a young surgeon with autism an...","\n \n Stars:\nFreddie Highmore, ...","70,871",41.000000,0
18,Atypical,(2017–2021),"\nComedy, Drama",8.300000,"\nSam, an 18-year-old on the autism spectrum, ...",\n \n Stars:\nJennifer Jason Lei...,"71,544",30.000000,0
19,Stranger Things,(2016– ),"\nDrama, Fantasy, Horror",8.700000,"\nWhen a young boy disappears, his mother, a p...",\n \n Stars:\nMillie Bobby Brown...,"885,856",51.000000,0

The data does not have duliicate data

In [27]:
# check for duplicates
data.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
9994     True
9995    False
9996    False
9997    False
9998    False
Length: 9999, dtype: bool