### Import necessary libraries

In [1]:
import pymysql
import pandas as pd
from sqlalchemy import create_engine

In [3]:
# create a pymysql connection 
connection = pymysql.connect(host="localhost", user="root", password="(Geolaw1990)", db="courses")

In [4]:
# create sqlalchemy engine
engine = create_engine("mysql+pymysql://{user}:{pw}@localhost/{db}".format(
                        user="root",
                        pw="(Geolaw1990)",
                        db="courses"))

In [43]:
# load in the data (udemy_courses data)
data = pd.read_csv("Untitled spreadsheet - udemy_courses.csv")

In [44]:
# View the first five rows of the data before loading to MySQL
data.head()

,course_id,course_title,url,is_paid,price,num_subscribers,num_reviews,num_lectures,level,content_duration,published_timestamp,subject
0,1070968,Ultimate Investment Banking Course,https://www.udemy.com/ultimate-investment-bank...,True,200,2147,23,51,All Levels,1.5,2017-01-18T20:58:58Z,Business Finance
1,1113822,Complete GST Course & Certification - Grow You...,https://www.udemy.com/goods-and-services-tax/,True,75,2792,923,274,All Levels,39.0,2017-03-09T16:34:20Z,Business Finance
2,1006314,Financial Modeling for Business Analysts and C...,https://www.udemy.com/financial-modeling-for-b...,True,45,2174,74,51,Intermediate Level,2.5,2016-12-19T19:26:30Z,Business Finance
3,1210588,Beginner to Pro - Financial Analysis in Excel ...,https://www.udemy.com/complete-excel-finance-c...,True,95,2451,11,36,All Levels,3.0,2017-05-30T20:07:24Z,Business Finance
4,1011058,How To Maximize Your Profits Trading Options,https://www.udemy.com/how-to-maximize-your-pro...,True,200,1276,45,26,Intermediate Level,2.0,2016-12-13T14:57:18Z,Business Finance

In [45]:
# save the data from dataframe to Mysql table
data.to_sql("udemy_courses", engine, index= False)

3678

##### Question 1 Write a query for paid courses, showing the  course with the highest number of subscribers per month

In [50]:
query = """SELECT course_title, num_subscribers, 
            (SELECT EXTRACT(month from published_timestamp)) months FROM udemy_courses
            WHERE num_reviews = (SELECT MAX(num_reviews) FROM udemy_courses
                                    WHERE is_paid);"""

In [51]:
pd.read_sql(query, con=engine)

                 course_title  num_subscribers  months
0  The Web Developer Bootcamp           121584      11

#### Question 2 Write a query for paid courses, showing the course with the highest sales per month

In [52]:
query_2 = """SELECT course_title, num_reviews, 
                (select extract(month from published_timestamp)) months FROM udemy_courses 
                WHERE num_subscribers = (SELECT MAX(num_subscribers) FROM udemy_courses
                                            WHERE is_paid);"""

In [53]:
pd.read_sql(query_2, con= engine)

                 course_title  num_reviews  months
0  The Web Developer Bootcamp        27445      11

In [54]:
connection.close()